<h1>
    BankDB Website
</h1>

<!--Header-->
<div>
    <a href="/user/"><h4>User Operations</h4></a>
    <a href="/account/"><h4>Account Operations</h4></a>
    <a href="/transaction/"><h4>Transaction Operations</h4></a>
</div>

<!--Main Content-->
<div id="mainBody">
</div>
