
@{
    ViewBag.Title = "SignIn";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>Welcome To BankDB Banking!</h2>
<div>
    <h3>Sign In</h3>
    <form id="signinForm">
        <input name="signinId" type="number" placeholder="Enter your user ID" />
        <small>Here at BankDB, we don't believe in passwords.</small>
        <button type="submit" style="display:block">Sign In</button>
    </form>
</div>

<div>
    <h3>Sign Up!</h3>

    <form id="signupForm">
        <input name="DName" type="text" placeholder="First Name" />
        <input name="LName" type="text" placeholder="Last Name" />
        <button type="submit" style="display:block">Sign Up</button>
    </form>
    <div id="accountCreatedDiv" hidden="true">
        <p>Account created successfully! Your account ID is <a id="accountCreatedLink" href="#">NULL</a></p>
    </div>
</div>

<button id="beanTest">BeanTest</button>


<script>
    $("#beanTest").on('click', () => { //TODO remove this
        $.ajax({
            url: 'api/beanstest',
            type: 'get',
            dataType: 'json',
            success: (data, textStatus, jQxhr) => {
                console.log(data);
                alert("Beans!");
            },
            error: (jqXhr, textStatus, errorThrown) => {
                alert("Beans Error! " + errorThrown);
            }
        });
    });

    $("#signinForm").on('submit',
        (e) => {
            e.preventDefault();
            var formData = $("#signinForm").serializeArray();

            window.location.replace("user/" + formData[0].value);
        });

    $("#signupForm").on('submit',
        (e) => {
            e.preventDefault();
            var formData = $("#signupForm").serializeArray();

            var postData = {
                    FName: formData[0].value,
                    LName: formData[1].value
                };

            //Make API request
            $.ajax({
                url: 'api/user',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(postData),
                success: (data, textStatus, jQxhr) => {
                    console.log("Account Create Data:");
                    console.log(data);

                    $("#accountCreatedDiv").toggle();
                    $("#accountCreatedLink").text(data.Id);
                    $("#accountCreatedLink").attr("href", "user/" + data.Id);
                },
                error: (jqXhr, textStatus, errorThrown) => {
                    alert("Error! " + errorThrown);
                    console.log(errorThrown);
                }
            });
        });
</script>