
@{
    ViewBag.Title = "User";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h1>User</h1>
Look for users here 🙂

<h2>Find A User</h2>
<form>
    <input type="number" id="user-id" placeholder="User ID" />
</form>
<button id="search-user-button">Search</button>

<div id="user-details" hidden>
    <h3>User Name</h3>
    <p>More details go here</p>
</div>

<script>
    $("#search-user-button").on('click',
        () => {
            console.log("Doing Search!");
            $.ajax({
                url: "api/User/" + $("#user-id").val(),
                type: 'get',
                contentType: 'application/json',
                success: (data, textStatus, jQxhr) => {
                    var obj = data;
                    $("#user-details").toggle(); //Shows the element
                    $("#user-details").find("h3").text(`${data.fName} ${data.lName}`);
                    $("#user-details").find("p").text(`User ID: ${data.id}`);
                },
                error: (jqXhr, textStatus, errorThrown) => {
                    alert("Oh no an error occurred 😢\n" + errorThrown);
                }
            });
        });
</script>