
@{
    ViewBag.Title = "UserPage";
}

<div>
    <h2>Welcome, @ViewBag.UserData.FName @ViewBag.UserData.LName</h2>
    <small>User ID: @ViewBag.UserData.Id</small>
</div>

<div>
    <h2>Your Accounts</h2>
    ACCOUNTS GO HERE
</div>
